services:

  products-backend:
    image: products
    container_name: products_backend
    depends_on:
      - mongo
    build: ./
    ports:
      - "80:4000"
      - "443:4000"
    environment:
      - PORT=4000
      - DB_HOST=product_mongo
      - DB_USER=admin
      - DB_PASSWORD=password
      - DB_NAME=mongodb
      #- DB_HOST=${DB_HOST}
    networks:
      - products-network

  mongo:
    image: mongo:5
    restart: always
    ports:
      - "27017:27017"
    container_name: product_mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
      - MONGODB_DATABASE=mongodb
    volumes:
      - ./mongo:/data
    networks:
      - products-network
      
networks:
  products-network: